include ../../mixins/index

+b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
  +b.about-product-card 
    +e.column.--side.--left 
      +e.logo-wrapper.A(href="#")
        +e.logo.IMG(src="../../../static/icons/logo-company.png")
    +e.column.--center 
      +e.text.text.--xs.--medium.P Mit dem richtigen Riecher hat DGA zu Zeiten als noch niemand wirklich daran glaubte, das Potenzial der LED-Technologie erkannt und in diesem Sektor schon fr체h investiert. Mit Leidenschaft, Qualit채t und zeitloser Eleganz im Design hat DGA hochwertige Produkte entwickelt, welche die aktuellen Bed체rfnisse in der Beleuchtung fortlaufend ansprechen und durch innovative Ideen auch neue Bed체rfnisse zu wecken vermag
    +e.column.--side.--right
      +e.inner-wrapper
        +e.title.text.--bold.H3 Download
        include ../elements/button