include ../../mixins/filter-card
include ../../mixins/index

-
  const filterCards = [
    [{
      name: "Name des Projekts",
      image: "projekte/projekte1.png",
      class: "office",
      link: "../projekt/projekt.html"
    }],
    [{
      name: "Name des Projekts",
      image: "projekte/projekte2.png",
      class: "educational",
      link: "../projekt/projekt.html"
    }],
    [{
      name: "Name des Projekts",
      image: "projekte/projekte3.png",
      class: "office",
      link: "../projekt/projekt.html"
    }],
    [{
      name: "Name des Projekts",
      image: "projekte/projekte4.png",
      class: "hotel",
      link: "../projekt/projekt.html"
    }],
    [{
      name: "Name des Projekts",
      image: "projekte/projekte5.png",
      class: "educational",
      link: "../projekt/projekt.html"
    }],
    [{
      name: "Name des Projekts",
      image: "projekte/projekte6.png",
      class: "office",
      link: "../projekt/projekt.html"
    }],
    [{
      name: "Name des Projekts",
      image: "projekte/projekte7.png",
      class: "restaurant",
      link: "../projekt/projekt.html"
    }],
    [{
      name: "Name des Projekts",
      image: "projekte/projekte8.png",
      class: "hotel",
      link: "../projekt/projekt.html"
    }],
    [{
      name: "Name des Projekts",
      image: "projekte/projekte9.png",
      class: "restaurant",
      link: "../projekt/projekt.html"
    }],
  ]

+b.filter-projekte 
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.filter-projekte-wrapper 
      +b.filter-bar 
        +e.list.UL
          +e.item.LI
            +e.filter-link.is-active(data-filter="*") ALLE
          +e.item.LI
            +e.filter-link(data-filter=".office") OFFICE
          +e.item.LI
            +e.filter-link(data-filter=".educational") EDUCATIONAL INSTITUTION
          +e.item.LI
            +e.filter-link(data-filter=".restaurant") RESTAURANT
          +e.item.LI
            +e.filter-link(data-filter=".hotel") HOTEL

      +b.projekte-wrapper#projekte-grid
        each card in filterCards
          +filterCard(card)