
<section class="luxed">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="luxed-wrapper"> <img class="luxed-wrapper__bg-image" src="../../../static/img/uber-uns/luxed/x-bg.png"/>
      <div class="luxed-wrapper__top"> 
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--l">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--l text text--xs text--medium">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, adipisci nulla nihil nemo minus cumque maxime illum quod provident iste saepe quia vero esse natus quae quis officiis ducimus velit!
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--l">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--l"> <img class="luxed-wrapper__image img" src="../../../static/img/models/B.png"/>
            </div><span class="luxed-wrapper__name">Berdyansk</span>
          </div>
        </div>
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--u">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--u text text--xs text--medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis nobis atque aperiam rerum dignissimos nam iusto quod amet sed mollitia, illum a delectus praesentium corporis inventore accusantium obcaecati impedit!
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--u">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--u"><img class="luxed-wrapper__image img" src="../../../static/img/models/S.png"/>
            </div><span class="luxed-wrapper__name">State</span>
          </div>
        </div>
      </div>
      <div class="luxed-wrapper__middle">
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--x">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--x text text--xs text--medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iusto quo veritatis culpa vitae. Quae mollitia vero temporibus molestias rem exercitationem, placeat laboriosam quam odit, similique aut incidunt? Praesentium, porro.
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--x">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--x"><img class="luxed-wrapper__image img" src="../../../static/img/uber-uns/luxed/X.png"/>
            </div><span class="luxed-wrapper__name">eXtraordinary</span>
          </div>
        </div>
      </div>
      <div class="luxed-wrapper__bottom"> 
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--e">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--e text text--xs text--medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et mollitia rerum ab nesciunt nostrum! Eveniet, quas doloribus veritatis sit modi impedit explicabo dolorum laboriosam necessitatibus neque mollitia ea tenetur excepturi.
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--e">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--e"><img class="luxed-wrapper__image img" src="../../../static/img/models/P.png"/>
            </div><span class="luxed-wrapper__name">Pedagogical</span>
          </div>
        </div>
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--d">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--d text text--xs text--medium">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id placeat, non assumenda quaerat at sunt, impedit ducimus mollitia animi atque quis quisquam tenetur rem quidem sequi necessitatibus aspernatur. Quo, repellat.
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--d">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--d"><img class="luxed-wrapper__image img" src="../../../static/img/models/U.png"/>
            </div><span class="luxed-wrapper__name">University</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>