
<section class="luxed">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="luxed-wrapper"> <img class="luxed-wrapper__bg-image" src="../../../static/img/uber-uns/luxed/x-bg.png"/>
      <div class="luxed-wrapper__top"> 
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--l">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--l text text--xs text--medium">Unsere Passion ist das Licht. Unsere Mission ist das Licht so einzusetzen, dass es im Einklang mit der gesamten Architektur ist. Daher ist es wichtig in der Beleuchtung die vorhandene Materialien und Strukturen von Anfang an zu berücksichtigen.
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--l">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--l"> <img class="luxed-wrapper__image img" src="../../../static/img/uber-uns/luxed/L.png"/>
            </div><span class="luxed-wrapper__name">Light</span>
          </div>
        </div>
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--u">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--u text text--xs text--medium">Wir entwickeln, in enger Zusammenarbeit mit unseren Kunden, eine einzigartige Identität für neue oder bestehende Innenräume und Aussenanlagen.
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--u">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--u"><img class="luxed-wrapper__image img" src="../../../static/img/uber-uns/luxed/U.png"/>
            </div><span class="luxed-wrapper__name">Unique</span>
          </div>
        </div>
      </div>
      <div class="luxed-wrapper__middle">
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--x">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--x text text--xs text--medium">Unser Luxed Team zeichnet sich durch Kreativität, Leidenschaft, Präzision und Reichtum an Ideen aus. Daraus resultieren am Ende immer interessante und aussergewöhnliche Projekte.
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--x">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--x"><img class="luxed-wrapper__image img" src="../../../static/img/uber-uns/luxed/X.png"/>
            </div><span class="luxed-wrapper__name">eXtraordinary</span>
          </div>
        </div>
      </div>
      <div class="luxed-wrapper__bottom"> 
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--e">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--e text text--xs text--medium">Licht schafft Emotionen. Je nachdem wie wir das Licht einsetzen und welche Art von Licht wir verwenden, entstehen beim Menschen verschiedene Emotionen. Wir sorgen dafür, dass bei jedem Konzept die gewollte Atmosphäre erschaffen wird.
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--e">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--e"><img class="luxed-wrapper__image img" src="../../../static/img/uber-uns/luxed/E.png"/>
            </div><span class="luxed-wrapper__name">Emotion</span>
          </div>
        </div>
        <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--d">
          <p class="luxed-wrapper__text-part luxed-wrapper__text-part--d text text--xs text--medium">Ob schlicht oder extravagant, ein klares Design wird immer durch Eleganz und Authentizität widergespiegelt. Wir kreieren Räume für bleibende Eindrücke und individuelle Erlebnisse.
          </p>
          <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--d">
            <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--d"><img class="luxed-wrapper__image img" src="../../../static/img/uber-uns/luxed/D.png"/>
            </div><span class="luxed-wrapper__name">Design</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>