
<section class="picture-company"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="picture-company-wrapper"> 
      <div class="picture-company-wrapper__top"> 
        <h3 class="picture-company-wrapper__title title">PICTURE COMPANY
        </h3>
      </div>
      <div class="picture-company-wrapper__bottom"> 
        <div class="picture-company-wrapper__column"> 
          <div class="picture-company-wrapper__picture-card"> <img class="picture-company-wrapper__image img" src="../../../static/img/uber-uns/picture1.png"/>
          </div>
        </div>
        <div class="picture-company-wrapper__column"> 
          <div class="picture-company-wrapper__picture-card"> <img class="picture-company-wrapper__image img" src="../../../static/img/uber-uns/picture2.png"/>
          </div>
        </div>
        <div class="picture-company-wrapper__column"> 
          <div class="picture-company-wrapper__picture-card"> <img class="picture-company-wrapper__image img" src="../../../static/img/uber-uns/picture3.png"/>
          </div>
        </div>
        <div class="picture-company-wrapper__column"> 
          <div class="picture-company-wrapper__picture-card"> <img class="picture-company-wrapper__image img" src="../../../static/img/uber-uns/picture4.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>