
<div class="uber-map"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="uber-map-wrapper"> 
      <div class="uber-map-wrapper__top"> 
        <h3 class="uber-map-wrapper__title title">ADRESS
        </h3>
        <p class="uber-map-wrapper__subtitle"><span class="uber-map-wrapper__span">GOOGLE MAPS |</span> MAPS
        </p>
      </div>
      <div class="uber-map-wrapper__bottom"> 
        <div class="uber-map-wrapper__column-location">
          <div class="uber-map-wrapper__adress-wrapper"> 
            <div class="uber-map-wrapper__adress-category"> 
              <div class="uber-map-wrapper__image-wrapper"> <img class="uber-map-wrapper__image" src="../../../static/icons/uber-uns/location.svg"/>
              </div>
              <div class="uber-map-wrapper__location-info"> 
                <p class="uber-map-wrapper__text text text--xs text--medium">LUXED Beleuchtungen GmbH  
                </p>
                <p class="uber-map-wrapper__text text text--xs text--medium">Benzburweg 18A
                </p>
                <p class="uber-map-wrapper__text text text--xs text--medium">CH- 4410 Liestal
                </p>
              </div>
            </div>
          </div>
          <div class="uber-map-wrapper__adress-wrapper"> 
            <div class="uber-map-wrapper__adress-category"> 
              <div class="uber-map-wrapper__image-wrapper"> <img class="uber-map-wrapper__image" src="../../../static/icons/uber-uns/phone.svg"/>
              </div>
              <div class="uber-map-wrapper__location-info"> <a class="uber-map-wrapper__text text text--xs text--medium" href="tel:+41619030380">+41 61 903 03 80 </a><a class="uber-map-wrapper__text text text--xs text--medium" href="tel:+41619030380">+41 61 903 03 80</a>
              </div>
            </div>
          </div>
          <div class="uber-map-wrapper__adress-wrapper"> 
            <div class="uber-map-wrapper__adress-category"> 
              <div class="uber-map-wrapper__image-wrapper"> <img class="uber-map-wrapper__image" src="../../../static/icons/uber-uns/mail.svg"/>
              </div>
              <div class="uber-map-wrapper__location-info"> <a class="uber-map-wrapper__text text text--xs text--medium" href="mailto: TESTTEST@gmail.com">TESTTEST@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="uber-map-wrapper__adress-wrapper"> 
            <div class="uber-map-wrapper__adress-category"> 
              <div class="uber-map-wrapper__image-wrapper"> <img class="uber-map-wrapper__image" src="../../../static/icons/uber-uns/clock.svg"/>
              </div>
              <div class="uber-map-wrapper__location-info"> 
                <div class="uber-map-wrapper__top-info">
                  <p class="uber-map-wrapper__text text text--xs text--medium">Mo – Do   
                  </p>
                  <p class="uber-map-wrapper__text text text--xs text--medium">08.00 – 12.00 Uhr
                  </p>
                  <p class="uber-map-wrapper__text text text--xs text--medium">13.00 – 17.30 Uhr
                  </p>
                </div>
                <div class="uber-map-wrapper__bottom-info">
                  <p class="uber-map-wrapper__text text text--xs text--medium">Fr
                  </p>
                  <p class="uber-map-wrapper__text text text--xs text--medium">08.00 – 12.00 Uhr
                  </p>
                  <p class="uber-map-wrapper__text text text--xs text--medium">13.00 – 16.30 Uhr
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uber-map-wrapper__column-map"> 
          <div class="uber-map-container" id="uber-map">
          </div>
          <div class="info-window" id="uber-info"><span class="info-window__top text text--xs text--medium">Name der Region 1</span>
            <div class="info-window__middle"> <span class="info-window__info text text--xs text--medium">LUXED Beleuchtungen GmbH</span><span class="info-window__info text text--xs text--medium">Benzburweg 18A</span><span class="info-window__info text text--xs text--medium">CH- 4410 Liestal</span>
            </div><a class="info-window__bottom btn" href="#">GET DIRECTION</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>