extends ./base/base

//- block content
  include ./../mixins/index
  //- +b.main.MAIN
  //-   +e.content
  //-   +e.text--is-active.--is-blocked.P
  //- +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
  //-   +b.g-row
  //-     +b.g-cell.g-cols--12.--narrow-xl
  //-       p jjj
  //-     +b.g-cell.g-cols--12.--6-md.--4-xl
  //-       p w wetr
  //-     +b.g-cell.g-cols--12.--6-md.--4-xl
  //-       p sdgdg

