include ../../../mixins/index

+b.news-list.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.news-list-wrapper 
      +e.items 
        +e.column 
          +b.news
            +e.image-wrapper.A(href="#")
              +e.image.img.IMG(src="../../../static/img/news/news1.png")
            +e.title.A(href="#") Nachrichtentitel
        +e.column 
          +b.news
            +e.image-wrapper.A(href="#")
              +e.image.img.IMG(src="../../../static/img/news/news2.png")
            +e.title.A(href="#") Nachrichtentitel
        +e.column 
          +b.news
            +e.image-wrapper.A(href="#")
              +e.image.img.IMG(src="../../../static/img/news/news3.png")
            +e.title.A(href="#") Nachrichtentitel
        +e.column 
          +b.news
            +e.image-wrapper.A(href="#")
              +e.image.img.IMG(src="../../../static/img/news/news4.png")
            +e.title.A(href="#") Nachrichtentitel
        +e.column 
          +b.news
            +e.image-wrapper.A(href="#")
              +e.image.img.IMG(src="../../../static/img/news/news5.png")
            +e.title.A(href="#") Nachrichtentitel
        +e.column 
          +b.news
            +e.image-wrapper.A(href="#")
              +e.image.img.IMG(src="../../../static/img/news/news6.png")
            +e.title.A(href="#") Nachrichtentitel
        +e.column 
          +b.news
            +e.image-wrapper.A(href="#")
              +e.image.img.IMG(src="../../../static/img/news/news7.png")
            +e.title.A(href="#") Nachrichtentitel
        +e.column 
          +b.news
            +e.image-wrapper.A(href="#")
              +e.image.img.IMG(src="../../../static/img/news/news8.png")
            +e.title.A(href="#") Nachrichtentitel
        +e.column 
          +b.news
            +e.image-wrapper.A(href="#")
              +e.image.img.IMG(src="../../../static/img/news/news9.png")
            +e.title.A(href="#") Nachrichtentitel