include ../../../mixins/news-cards
include ../../../mixins/index

-
  const newsCards = [
    [{
      name: "Nachrichtentitel",
      image: "news/news1.png",
      date: "22.08.2018",
      link: "../nachrichtentitel/nachrichtentitel.html"
    }],
    [{
      name: "Nachrichtentitel",
      image: "news/news2.png",
      date: "22.08.2018",
      link: "../nachrichtentitel/nachrichtentitel.html"
    }],
    [{
      name: "Nachrichtentitel",
      image: "news/news3.png",
      date: "22.08.2018",
      link: "../nachrichtentitel/nachrichtentitel.html"
    }],
    [{
      name: "Nachrichtentitel",
      image: "news/news4.png",
      date: "22.08.2018",
      link: "../nachrichtentitel/nachrichtentitel.html"
    }],
    [{
      name: "Nachrichtentitel",
      image: "news/news5.png",
      date: "22.08.2018",
      link: "../nachrichtentitel/nachrichtentitel.html"
    }],
    [{
      name: "Nachrichtentitel",
      image: "news/news6.png",
      date: "22.08.2018",
      link: "../nachrichtentitel/nachrichtentitel.html"
    }],
    [{
      name: "Nachrichtentitel",
      image: "news/news7.png",
      date: "22.08.2018",
      link: "../nachrichtentitel/nachrichtentitel.html"
    }],
    [{
      name: "Nachrichtentitel",
      image: "news/news8.png",
      date: "22.08.2018",
      link: "../nachrichtentitel/nachrichtentitel.html"
    }],
    [{
      name: "Nachrichtentitel",
      image: "news/news9.png",
      date: "22.08.2018",
      link: "../nachrichtentitel/nachrichtentitel.html"
    }]
  ]

+b.news-list.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.news-list-wrapper 
      +e.items 
        each item in newsCards
          +e.column 
            +newsCards(item)
    include ../../elements/pagination