include ../../../mixins/index

+b.fachpartner.SECTION 
  +b.fachpartner-wrapper 
    +b.filter-control-bar 
      +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
        +b.filter-control-bar-wrapper
          +e.list.UL 
            +e.item.LI 
              +e.filter-control.is-active(data-filter="*").SPAN ALLE
            +e.item.LI 
              +e.filter-control(data-filter=".first").SPAN NAME DER REGION 1
            +e.item.LI 
              +e.filter-control(data-filter=".second").SPAN NAME DER REGION 2
            +e.item.LI 
              +e.filter-control(data-filter=".third").SPAN NAME DER REGION 3
            +e.item.LI 
              +e.filter-control(data-filter=".fourth").SPAN NAME DER REGION 4
            +e.item.LI 
              +e.filter-control(data-filter=".fifth").SPAN NAME DER REGION 5
    +b#agenten-map.map
    +b.info-window#inf1
      +e.top.text.--xs.--medium.SPAN Name der Region 1
      +e.middle 
        +e.info.text.--xs.--medium.SPAN LUXED Beleuchtungen GmbH
        +e.info.text.--xs.--medium.SPAN Benzburweg 18A
        +e.info.text.--xs.--medium.SPAN CH- 4410 Liestal
      +e.bottom.btn.A(href="#") GET DIRECTION
    +b.info-window#inf1
      +e.top.text.--xs.--medium.SPAN Name der Region 2
      +e.middle 
        +e.info.text.--xs.--medium.SPAN LUXED Beleuchtungen GmbH
        +e.info.text.--xs.--medium.SPAN Benzburweg 18A
        +e.info.text.--xs.--medium.SPAN CH- 4410 Liestal
      +e.bottom.btn.A(href="#") GET DIRECTION
    +b.info-window#inf1
      +e.top.text.--xs.--medium.SPAN Name der Region 3
      +e.middle 
        +e.info.text.--xs.--medium.SPAN LUXED Beleuchtungen GmbH
        +e.info.text.--xs.--medium.SPAN Benzburweg 18A
        +e.info.text.--xs.--medium.SPAN CH- 4410 Liestal
      +e.bottom.btn.A(href="#") GET DIRECTION
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
      +b.filter-items#fachpartner-grid
        +e.row 
          +e.column.first#filter-item
            +b.filter-card 
              +e.title.text.--xs.--medium.H3 Name der Region
              +e.info-list.UL 
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN LUXED Beleuchtungen GmbH Benzburweg 18A
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN CH- 4410 Liestal
          +e.column.second#filter-item
            +b.filter-card 
              +e.title.text.--xs.--medium.H3 Name der Region
              +e.info-list.UL 
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN LUXED Beleuchtungen GmbH Benzburweg 18A
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN CH- 4410 Liestal
          +e.column.third#filter-item 
            +b.filter-card 
              +e.title.text.--xs.--medium.H3 Name der Region
              +e.info-list.UL 
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN LUXED Beleuchtungen GmbH Benzburweg 18A
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN CH- 4410 Liestal
          +e.column.fourth#filter-item 
            +b.filter-card 
              +e.title.text.--xs.--medium.H3 Name der Region
              +e.info-list.UL 
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN LUXED Beleuchtungen GmbH Benzburweg 18A
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN CH- 4410 Liestal
          +e.column.fifth#filter-item 
            +b.filter-card 
              +e.title.text.--xs.--medium.H3 Name der Region
              +e.info-list.UL 
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN LUXED Beleuchtungen GmbH Benzburweg 18A
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN CH- 4410 Liestal
          +e.column.first#filter-item 
            +b.filter-card 
              +e.title.text.--xs.--medium.H3 Name der Region
              +e.info-list.UL 
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN LUXED Beleuchtungen GmbH Benzburweg 18A
                +e.item.LI 
                  +e.text.text.--xs.--medium.SPAN CH- 4410 Liestal


