.btn
  d: inline-flex
  align-items: center
  justify-content: space-between
  text-align: center
  background-color: var(--theme-accent-grey)
  fs: 15px
  fw: 400
  color: var(--theme-text-1)
  text-transform: uppercase