
<section class="fachpartner"> 
  <div class="fachpartner-wrapper"> 
    <div class="filter-control-bar"> 
      <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
        <div class="filter-control-bar-wrapper">
          <ul class="filter-control-bar-wrapper__list"> 
            <li class="filter-control-bar-wrapper__item"> <span class="filter-control-bar-wrapper__filter-control is-active" data-filter="*">ALLE</span>
            </li>
            <li class="filter-control-bar-wrapper__item"> <span class="filter-control-bar-wrapper__filter-control" data-filter=".first">NAME DER REGION 1</span>
            </li>
            <li class="filter-control-bar-wrapper__item"> <span class="filter-control-bar-wrapper__filter-control" data-filter=".second">NAME DER REGION 2</span>
            </li>
            <li class="filter-control-bar-wrapper__item"> <span class="filter-control-bar-wrapper__filter-control" data-filter=".third">NAME DER REGION 3</span>
            </li>
            <li class="filter-control-bar-wrapper__item"> <span class="filter-control-bar-wrapper__filter-control" data-filter=".fourth">NAME DER REGION 4</span>
            </li>
            <li class="filter-control-bar-wrapper__item"> <span class="filter-control-bar-wrapper__filter-control" data-filter=".fifth">NAME DER REGION 5</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="map" id="agenten-map">
    </div>
    <div class="info-window" id="inf1"><span class="info-window__top text text--xs text--medium">Name der Region 1</span>
      <div class="info-window__middle"> <span class="info-window__info text text--xs text--medium">LUXED Beleuchtungen GmbH</span><span class="info-window__info text text--xs text--medium">Benzburweg 18A</span><span class="info-window__info text text--xs text--medium">CH- 4410 Liestal</span>
      </div><a class="info-window__bottom btn" href="#">GET DIRECTION</a>
    </div>
    <div class="info-window" id="inf1"><span class="info-window__top text text--xs text--medium">Name der Region 2</span>
      <div class="info-window__middle"> <span class="info-window__info text text--xs text--medium">LUXED Beleuchtungen GmbH</span><span class="info-window__info text text--xs text--medium">Benzburweg 18A</span><span class="info-window__info text text--xs text--medium">CH- 4410 Liestal</span>
      </div><a class="info-window__bottom btn" href="#">GET DIRECTION</a>
    </div>
    <div class="info-window" id="inf1"><span class="info-window__top text text--xs text--medium">Name der Region 3</span>
      <div class="info-window__middle"> <span class="info-window__info text text--xs text--medium">LUXED Beleuchtungen GmbH</span><span class="info-window__info text text--xs text--medium">Benzburweg 18A</span><span class="info-window__info text text--xs text--medium">CH- 4410 Liestal</span>
      </div><a class="info-window__bottom btn" href="#">GET DIRECTION</a>
    </div>
    <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
      <div class="filter-items" id="fachpartner-grid">
        <div class="filter-items__row"> 
          <div class="filter-items__column first" id="filter-item">
            <div class="filter-card"> 
              <h3 class="filter-card__title text text--xs text--medium">Name der Region
              </h3>
              <ul class="filter-card__info-list"> 
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">LUXED Beleuchtungen GmbH Benzburweg 18A</span>
                </li>
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">CH- 4410 Liestal</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="filter-items__column second" id="filter-item">
            <div class="filter-card"> 
              <h3 class="filter-card__title text text--xs text--medium">Name der Region
              </h3>
              <ul class="filter-card__info-list"> 
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">LUXED Beleuchtungen GmbH Benzburweg 18A</span>
                </li>
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">CH- 4410 Liestal</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="filter-items__column third" id="filter-item"> 
            <div class="filter-card"> 
              <h3 class="filter-card__title text text--xs text--medium">Name der Region
              </h3>
              <ul class="filter-card__info-list"> 
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">LUXED Beleuchtungen GmbH Benzburweg 18A</span>
                </li>
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">CH- 4410 Liestal</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="filter-items__column fourth" id="filter-item"> 
            <div class="filter-card"> 
              <h3 class="filter-card__title text text--xs text--medium">Name der Region
              </h3>
              <ul class="filter-card__info-list"> 
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">LUXED Beleuchtungen GmbH Benzburweg 18A</span>
                </li>
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">CH- 4410 Liestal</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="filter-items__column fifth" id="filter-item"> 
            <div class="filter-card"> 
              <h3 class="filter-card__title text text--xs text--medium">Name der Region
              </h3>
              <ul class="filter-card__info-list"> 
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">LUXED Beleuchtungen GmbH Benzburweg 18A</span>
                </li>
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">CH- 4410 Liestal</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="filter-items__column first" id="filter-item"> 
            <div class="filter-card"> 
              <h3 class="filter-card__title text text--xs text--medium">Name der Region
              </h3>
              <ul class="filter-card__info-list"> 
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">LUXED Beleuchtungen GmbH Benzburweg 18A</span>
                </li>
                <li class="filter-card__item"> <span class="filter-card__text text text--xs text--medium">CH- 4410 Liestal</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>