
<div class="projekt-slider">
  <div class="projekt-slider__projekt-slider-wrapper">
    <div class="projekt-slider-bg swiper">
      <div class="projekt-slider-bg__wrapper swiper-wrapper"><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg1.png"/><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg2.png"/><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg3.png"/><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg4.png"/><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg5.png"/>
      </div>
    </div>
    <div class="projekt-breadcrumbs"> 
      <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list"> 
            <li class="breadcrumbs__item"><a class="breadcrumbs__link text text--medium" href="#">Home</a><span class="breadcrumbs__slash">/</span><a class="breadcrumbs__link text text--medium" href="#">Some page</a><span class="breadcrumbs__slash">/</span><a class="breadcrumbs__link text text--medium" href="#">Some page</a><span class="breadcrumbs__slash">/</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="projekt-content g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="projekt-slider-navigation"> <img class="projekt-slider-navigation__prev projekt-control projekt-slider-prev" src="../../../static/img/projekt/prev.png"/><img class="projekt-slider-navigation__next projekt-control projekt-slider-next" src="../../../static/img/projekt/next.png"/>
    </div>
  </div>
</div>
<div class="projekt-main"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="projekt-main-wrapper"> 
      <h2 class="projekt-main-wrapper__title">Template page
      </h2>
      <div class="projekt-section"> 
        <div class="projekt-section__section-name projekt-section__section-name--side">
          <h3 class="projekt-section__title">DESCRIPTION
          </h3>
          <p class="projekt-section__description-text text text--xs text--medium">Lorem ipsum dolor sit amet, in has dico nulla indoctum, duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an.
          </p>
        </div>
        <div class="projekt-section__section-name">
          <h3 class="projekt-section__title">PRODUKTE
          </h3>
          <div class="projekt-section__image-list"> 
            <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte1.png"/>
            </div>
            <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte5.png"/>
            </div>
            <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte3.png"/>
            </div>
            <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte4.png"/>
            </div>
            <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte5.png"/>
            </div>
          </div>
        </div>
        <div class="projekt-section__section-name projekt-section__section-name--side">
          <h3 class="projekt-section__title">TAGS 
          </h3>
          <div class="projekt-section__wrapper"> <span class="projekt-section__item"> KATEGORIEN 1 </span><span class="projekt-section__item"> KATEGORIEN 1 </span><span class="projekt-section__item"> KATEGORIEN 1 </span><span class="projekt-section__item"> KATEGORIEN 1 </span><span class="projekt-section__item"> KATEGORIEN 1 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>