
<section class="nachrichtentitel"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="nachrichtentitel-wrapper"> 
      <div class="nachrichtentitel-wrapper__row">
        <div class="nachrichtentitel-wrapper__column nachrichtentitel-wrapper__column--main">
          <div class="nachrichtentitel-main-content">
            <div class="nachrichtentitel-main-content__preview-wrapper"> <img class="nachrichtentitel-main-content__preview img" src="../../../static/img/news/new-card.png"/>
            </div>
            <div class="nachrichtentitel-main-content__text-wrapper">
              <h2 class="nachrichtentitel-main-content__main-title">Lorem ipsum dolor sit amet, in has dico nulla indoctum 
              </h2>
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
              </p>
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. 
                <A class="nachrichtentitel-main-content__read-more" href="#">Reade more</A>
              </p>
            </div>
            <table class="table">
              <thead class="table__thead">
                <tr class="table__row table__row--grey">
                  <th class="table__th text text--bold">Column 1
                  </th>
                  <th class="table__th text text--bold">Column 1
                  </th>
                  <th class="table__th text text--bold">Column 1
                  </th>
                  <th class="table__th text text--bold">Column 1
                  </th>
                  <th class="table__th text text--bold">Column 1
                  </th>
                </tr>
              </thead>
              <tbody class="table__tbody">
                <tr class="table__row">
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                </tr>
                <tr class="table__row table__row--grey">
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                </tr>
                <tr class="table__row">
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                </tr>
                <tr class="table__row table__row--grey">
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                </tr>
                <tr class="table__row">
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                  <td class="table__td text text--medium">Column 1
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="nachrichtentitel-main-content">
            <div class="nachrichtentitel-main-content__text-wrapper nachrichtentitel-main-content__text-wrapper--pad nachrichtentitel-main-content__text-wrapper--line">
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam,
              </p>
            </div>
            <div class="nachrichtentitel-main-content__text-wrapper">
              <h3 class="nachrichtentitel-main-content__sub-title">Lorem ipsum dolor sit amet, in has dico nulla indoctum
              </h3>
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
              </p>
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. 
              </p>
            </div>
            <div class="nachrichtentitel-main-content__text-wrapper nachrichtentitel-main-content__text-wrapper--pad nachrichtentitel-main-content__text-wrapper--square">
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. 
              </p>
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">Liber eloquentiam eos te, ad discere volutpat mnesarchum est. Ei est mutat mazim primis. An mea mucius utroque, quando nominavi scaevola ad duo. Est cu wisi facer aliquip, in vim mucius docendi ancillae. Duo id volumus persecuti. Platonem scripserit in nec. Vitae audiam ocurreret mei ex.
              </p>
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">Usu cu luptatum reprehendunt, viris delenit an his, molestie fabellas te eam. Eos eu quando honestatis, solum dolorum petentium cum ea, cu sit appetere pericula. An nam justo legere assueverit, ut eum
              </p>
            </div>
            <div class="nachrichtentitel-main-content__text-wrapper">
              <h3 class="nachrichtentitel-main-content__sub-title">Lorem ipsum dolor sit amet, in has dico nulla indoctum
              </h3>
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
              </p>
              <p class="nachrichtentitel-main-content__text text text--xs text--medium">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue Liber eloquentiam eos te, ad discere volutpat mnesarchum est. Ei est mutat mazim primis. An mea mucius utroque, quando nominavi scaevola ad duo. Est cu wisi facer aliquip, in vim mucius docendi ancillae. Duo id volumus persecuti. Platonem scripserit in nec. Vitae audiam ocurreret mei ex.
              </p>
            </div>
            <div class="nachrichtentitel-main-content__text-wrapper nachrichtentitel-main-content__text-wrapper--pad nachrichtentitel-main-content__text-wrapper--number">
              <p class="nachrichtentitel-main-content__text nachrichtentitel-main-content__text--one text text--xs text--medium">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. 
              </p>
              <p class="nachrichtentitel-main-content__text nachrichtentitel-main-content__text--two text text--xs text--medium">Liber eloquentiam eos te, ad discere volutpat mnesarchum est. Ei est mutat mazim primis. An mea mucius utroque, quando nominavi scaevola ad duo. Est cu wisi facer aliquip, in vim mucius docendi ancillae. Duo id volumus persecuti. Platonem scripserit in nec. Vitae audiam ocurreret mei ex.
              </p>
              <p class="nachrichtentitel-main-content__text nachrichtentitel-main-content__text--three text text--xs text--medium">Usu cu luptatum reprehendunt, viris delenit an his, molestie fabellas te eam. Eos eu quando honestatis, solum dolorum petentium cum ea, cu sit appetere pericula. An nam justo legere assueverit, ut eum
              </p>
            </div>
            <div class="tags-wrapper"> 
              <h2 class="tags-wrapper__title">TAGS
              </h2>
              <div class="tags-wrapper__tags"> <span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 1</span><span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 2</span><span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 1</span><span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 2</span><span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 1</span>
              </div>
            </div>
            <div class="last-review"> 
              <div class="last-review__top"> 
                <h2 class="last-review__title block-title">3 thoughts on “Nachrichtentitel”
                </h2>
              </div>
              <div class="last-review__review-wrapper"> 
                <div class="review-card">
                  <div class="review-card__persone-info">
                    <div class="review-card__persone"> <img class="review-card__persone-photo img" src="../../../static/img/new/persone1.png"/>
                    </div>
                  </div>
                  <div class="review-card__review-text"> <span class="review-card__persone-name">Oliver Rice</span><span class="review-card__time text text--xs text--medium">sagt: 27.08.2018 um 13:49 Uhr</span>
                    <p class="review-card__review text text--xs text--medium">Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
                    </p>
                  </div>
                </div>
                <div class="review-card">
                  <div class="review-card__persone-info">
                    <div class="review-card__persone"> <img class="review-card__persone-photo img" src="../../../static/img/new/persone2.png"/>
                    </div>
                  </div>
                  <div class="review-card__review-text"> <span class="review-card__persone-name">Adela Butler </span><span class="review-card__time text text--xs text--medium">sagt: 27.08.2018 um 13:49 Uhr</span>
                    <p class="review-card__review text text--xs text--medium">Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="new-form-wrapper">
              <h2 class="new-form-wrapper__title block-title">SCHREIBE EINEN KOMMENTAR
              </h2>
              <p class="new-form-wrapper__info text text--xs text--medium">Deine E-Mail-Adresse wird nicht veröffentlicht. Erforderliche Felder sind mit * markiert.
              </p>
              <form class="new-form js-form" data-method="POST" data-action="https://httpbin.org/post" novalidate>
                <div class="new-form__top"> 
                  <div class="new-form__column"><input class="new-form__input" type="email" placeholder="E-Mail" name="new-email" id="new-email" data-rule="required|email"/>
                  </div>
                  <div class="new-form__column"><input class="new-form__input" type="text" placeholder="Name" name="new-name" id="new-name" data-rule="required"/>
                  </div>
                </div>
                <div class="new-form__middle"> <textarea class="new-form__input new-form__input--kom" type="text" placeholder="Kommentar" name="new-kommentar" id="new-kommentar"></textarea>
                </div>
                <div class="new-form__bottom"> <input class="new-form__submit btn" type="submit" value="KOMMENTAR ABSCHICKEN"/>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="column column--side">
          <div class="sidebar">
            <div class="news"><a class="news__image-wrapper" href="../nachrichtentitel/nachrichtentitel.html"><img class="news__image img" src="../../../static/img/news/news1.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
            </div>
            <div class="news"><a class="news__image-wrapper" href="../nachrichtentitel/nachrichtentitel.html"><img class="news__image img" src="../../../static/img/news/news2.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
            </div>
            <div class="news"><a class="news__image-wrapper" href="../nachrichtentitel/nachrichtentitel.html"><img class="news__image img" src="../../../static/img/news/news3.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>