<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../../../static/css/style.css">
    <link rel="icon" href="../../../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="header-block header-block--white"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="header"> <a class="header__logo-wrapper" href="../main/main.html"><img class="header__logo img" src="../../../static/img/main-page/logo.png"/></a>
                                                                                    <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
                                                                                    </div>
                                                                                    <nav class="menu"> 
                                                                                                        <div class="language-block"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">uk</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">ru</a>
                                                                                                        </div>
                                                                                                              <div class="menu__body" id="js-menu">
                                                                                                                                        <ul class="menu__list"> 
                                                                                                                                                            <li class="language-block language-block--menu"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">uk</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">ru</a>
                                                                                                                                                            </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="../uber-uns/uber-uns.html">Про нас</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="../produkte/produkte.html">Завдання</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="../projekte/projekte.html">Роботи</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="../news/news.html">Новини</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul>
                                                                                                              </div>
                                                                                                              <div class="menu__social-links"> <img class="menu__search js-search" src="../../../static/icons/search.svg"/><a class="menu__social-link social-link" href="#"><img class="menu__search-image img" src="../../../static/icons/facebook.svg"/></a><a class="menu__social-link social-link" href="#"><img class="menu__search-image img" src="../../../static/icons/ints.svg"/></a>
                                                                                                              </div>
                                                                                    </nav>
                                                                                    <form class="header-search" action="../search/search.html"><input class="header-search__input js-input" type="search" placeholder="Search"/>
                                                                                                              <button class="header-search__button icon" type="submit"><img class="header-search__search js-button" src="../../../static/icons/search.svg"/>
                                                                                                              </button>
                                                                                    </form>
                                                                </div>
                                            </div>
                        </header>
                        <main class="main" role="main">
                          <section class="category"><img class="category__bg img img--bg" src="../../../static/img/categories/bdpu.png"/>
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="category-wrapper">
                                <div class="breadcrumbs">
                                  <ul class="breadcrumbs__list"> 
                                    <li class="breadcrumbs__item"><a class="breadcrumbs__link text text--medium" href="#">Home</a><span class="breadcrumbs__slash">/</span>
                                    </li>
                                    <li class="breadcrumbs__item"><a class="breadcrumbs__link text text--medium" href="#">Some page</a><span class="breadcrumbs__slash">/</span>
                                    </li>
                                    <li class="breadcrumbs__item"><a class="breadcrumbs__link text text--medium" href="#">Some page 2</a><span class="breadcrumbs__slash">/</span>
                                    </li>
                                  </ul>
                                </div>
                                <div class="category-info">
                                  <div class="category-info__category">
                                    <h2 class="category-info__title text">Про нас
                                    </h2>
                                    <div class="category-info__info-wrapper"><span class="category-info__info text text--medium">БДПУ</span><span class="category-info__info text text--medium">|</span><span class="category-info__info text text--medium">phone: +38 050 56 42 390</span>
                                    </div>
                                  </div>
                                  <div class="category-info__subcategory-wrapper"> 
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <section class="luxed">
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="luxed-wrapper"> <img class="luxed-wrapper__bg-image" src="../../../static/img/uber-uns/luxed/x-bg.png"/>
                                <div class="luxed-wrapper__top"> 
                                  <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--l">
                                    <p class="luxed-wrapper__text-part luxed-wrapper__text-part--l text text--xs text--medium">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, adipisci nulla nihil nemo minus cumque maxime illum quod provident iste saepe quia vero esse natus quae quis officiis ducimus velit!
                                    </p>
                                    <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--l">
                                      <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--l"> <img class="luxed-wrapper__image img" src="../../../static/img/models/B.png"/>
                                      </div><span class="luxed-wrapper__name">Berdyansk</span>
                                    </div>
                                  </div>
                                  <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--u">
                                    <p class="luxed-wrapper__text-part luxed-wrapper__text-part--u text text--xs text--medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis nobis atque aperiam rerum dignissimos nam iusto quod amet sed mollitia, illum a delectus praesentium corporis inventore accusantium obcaecati impedit!
                                    </p>
                                    <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--u">
                                      <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--u"><img class="luxed-wrapper__image img" src="../../../static/img/models/S.png"/>
                                      </div><span class="luxed-wrapper__name">State</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="luxed-wrapper__middle">
                                  <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--x">
                                    <p class="luxed-wrapper__text-part luxed-wrapper__text-part--x text text--xs text--medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iusto quo veritatis culpa vitae. Quae mollitia vero temporibus molestias rem exercitationem, placeat laboriosam quam odit, similique aut incidunt? Praesentium, porro.
                                    </p>
                                    <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--x">
                                      <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--x"><img class="luxed-wrapper__image img" src="../../../static/img/uber-uns/luxed/X.png"/>
                                      </div><span class="luxed-wrapper__name">eXtraordinary</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="luxed-wrapper__bottom"> 
                                  <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--e">
                                    <p class="luxed-wrapper__text-part luxed-wrapper__text-part--e text text--xs text--medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et mollitia rerum ab nesciunt nostrum! Eveniet, quas doloribus veritatis sit modi impedit explicabo dolorum laboriosam necessitatibus neque mollitia ea tenetur excepturi.
                                    </p>
                                    <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--e">
                                      <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--e"><img class="luxed-wrapper__image img" src="../../../static/img/models/P.png"/>
                                      </div><span class="luxed-wrapper__name">Pedagogical</span>
                                    </div>
                                  </div>
                                  <div class="luxed-wrapper__element-wrapper luxed-wrapper__element-wrapper--d">
                                    <p class="luxed-wrapper__text-part luxed-wrapper__text-part--d text text--xs text--medium">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id placeat, non assumenda quaerat at sunt, impedit ducimus mollitia animi atque quis quisquam tenetur rem quidem sequi necessitatibus aspernatur. Quo, repellat.
                                    </p>
                                    <div class="luxed-wrapper__letter-wrapper luxed-wrapper__letter-wrapper--d">
                                      <div class="luxed-wrapper__image-wrapper luxed-wrapper__image-wrapper--d"><img class="luxed-wrapper__image img" src="../../../static/img/models/U.png"/>
                                      </div><span class="luxed-wrapper__name">University</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <section class="picture-company"> 
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="picture-company-wrapper"> 
                                <div class="picture-company-wrapper__top"> 
                                  <h3 class="picture-company-wrapper__title title">PICTURE UNIVERSITY
                                  </h3>
                                </div>
                                <div class="picture-company-wrapper__bottom"> 
                                  <div class="picture-company-wrapper__column"> 
                                    <div class="picture-company-wrapper__picture-card"> <img class="picture-company-wrapper__image img" src="../../../static/img/uber-uns/picture1.png"/>
                                    </div>
                                  </div>
                                  <div class="picture-company-wrapper__column"> 
                                    <div class="picture-company-wrapper__picture-card"> <img class="picture-company-wrapper__image img" src="../../../static/img/uber-uns/picture2.png"/>
                                    </div>
                                  </div>
                                  <div class="picture-company-wrapper__column"> 
                                    <div class="picture-company-wrapper__picture-card"> <img class="picture-company-wrapper__image img" src="../../../static/img/uber-uns/picture3.png"/>
                                    </div>
                                  </div>
                                  <div class="picture-company-wrapper__column"> 
                                    <div class="picture-company-wrapper__picture-card"> <img class="picture-company-wrapper__image img" src="../../../static/img/uber-uns/picture4.png"/>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <div class="uber-map"> 
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="uber-map-wrapper"> 
                                <div class="uber-map-wrapper__top"> 
                                  <h3 class="uber-map-wrapper__title title">ADRESS
                                  </h3>
                                  <p class="uber-map-wrapper__subtitle"><span class="uber-map-wrapper__span">GOOGLE MAPS |</span> MAPS
                                  </p>
                                </div>
                                <div class="uber-map-wrapper__bottom"> 
                                  <div class="uber-map-wrapper__column-location">
                                    <div class="uber-map-wrapper__adress-wrapper"> 
                                      <div class="uber-map-wrapper__adress-category"> 
                                        <div class="uber-map-wrapper__image-wrapper"> <img class="uber-map-wrapper__image" src="../../../static/icons/uber-uns/location.svg"/>
                                        </div>
                                        <div class="uber-map-wrapper__location-info"> 
                                          <p class="uber-map-wrapper__text text text--xs text--medium">71100, Україна 
                                          </p>
                                          <p class="uber-map-wrapper__text text text--xs text--medium">Запорізька обл.,
                                          </p>
                                          <p class="uber-map-wrapper__text text text--xs text--medium">м.Бердянськ, вул.Шмідта, 4
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="uber-map-wrapper__adress-wrapper"> 
                                      <div class="uber-map-wrapper__adress-category"> 
                                        <div class="uber-map-wrapper__image-wrapper"> <img class="uber-map-wrapper__image" src="../../../static/icons/uber-uns/phone.svg"/>
                                        </div>
                                        <div class="uber-map-wrapper__location-info"> <a class="uber-map-wrapper__text text text--xs text--medium" href="tel:+41619030380">+38 050 56 42 390</a><a class="uber-map-wrapper__text text text--xs text--medium" href="tel:+41619030380">+38 098 08 16 103</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="uber-map-wrapper__adress-wrapper"> 
                                      <div class="uber-map-wrapper__adress-category"> 
                                        <div class="uber-map-wrapper__image-wrapper"> <img class="uber-map-wrapper__image" src="../../../static/icons/uber-uns/mail.svg"/>
                                        </div>
                                        <div class="uber-map-wrapper__location-info"> <a class="uber-map-wrapper__text text text--xs text--medium" href="mailto: TESTTEST@gmail.com">pkom@bdpu.org.ua</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="uber-map-wrapper__adress-wrapper"> 
                                      <div class="uber-map-wrapper__adress-category"> 
                                        <div class="uber-map-wrapper__image-wrapper"> <img class="uber-map-wrapper__image" src="../../../static/icons/uber-uns/clock.svg"/>
                                        </div>
                                        <div class="uber-map-wrapper__location-info"> 
                                          <div class="uber-map-wrapper__top-info">
                                            <p class="uber-map-wrapper__text text text--xs text--medium">Mo – Do   
                                            </p>
                                            <p class="uber-map-wrapper__text text text--xs text--medium">08.00 – 12.00 
                                            </p>
                                            <p class="uber-map-wrapper__text text text--xs text--medium">13.00 – 17.30 
                                            </p>
                                          </div>
                                          <div class="uber-map-wrapper__bottom-info">
                                            <p class="uber-map-wrapper__text text text--xs text--medium">Fr
                                            </p>
                                            <p class="uber-map-wrapper__text text text--xs text--medium">08.00 – 12.00 
                                            </p>
                                            <p class="uber-map-wrapper__text text text--xs text--medium">13.00 – 16.30 
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="uber-map-wrapper__column-map"> 
                                    <div class="uber-map-container" id="uber-map">
                                    </div>
                                    <div class="info-window" id="uber-info"><span class="info-window__top text text--xs text--medium">Name der Region 1</span>
                                      <div class="info-window__middle"> <span class="info-window__info text text--xs text--medium">71100, Україна</span><span class="info-window__info text text--xs text--medium">Запорізька обл.,</span><span class="info-window__info text text--xs text--medium">м.Бердянськ, вул.Шмідта, 4</span>
                                      </div><a class="info-window__bottom btn" href="#">GET DIRECTION</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </main>
                        <div class="text-section"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="text-wrapper"> 
                                                                                          <div class="text-wrapper__paragraph-wrapper">
                                                                                                                    <p class="text-wrapper__paragraph text text--xs text--medium">Lorem ipsum dolor sit amet, in has dico nulla indoctum, duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
                                                                                                                    </p>
                                                                                          </div>
                                                                                          <div class="text-wrapper__paragraph-wrapper">
                                                                                                                    <p class="text-wrapper__paragraph text text--xs text--medium">No eum vidisse honestatis, no eam insolens recteque intellegam. Ea errem invidunt ius, quo solum audire evertitur id. Omnis harum debitis et eum, no his elit interpretaris, ei graece doming urbanitas usu. Vis adhuc laudem id.
                                                                                                                    </p>
                                                                                          </div>
                                                                                          <div class="text-wrapper__paragraph-wrapper">
                                                                                                                    <p class="text-wrapper__paragraph text text--xs text--medium">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. <a class="text-wrapper__read-more" href="#">Reade more</a> 
                                                                                                                    </p>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </div>
                        <footer class="footer"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="footer-wrapper"> 
                                                                                          <div class="footer-wrapper__top"> <a class="footer-wrapper__logo-wrapper" href="../main/main.html"> <img class="footer-wrapper__logo img" src="../../../static/img/main-page/logo.png"/></a>
                                                                                                              <div class="footer-links">
                                                                                                                                  <div class="footer-links-wrapper">
                                                                                                                                                            <p class="footer-links-wrapper__text text text--md text--medium">ПРИЄДНУЙСЯ ДО НАС
                                                                                                                                                            </p>
                                                                                                                                                            <div class="footer-links-wrapper__list footer-links-wrapper__list--row"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-facebook.svg"/></a><a class="footer-links-wrapper__link" href="#">facebook</a>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="footer-links-wrapper__list"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-linkedin.svg"/></a><a class="footer-links-wrapper__link" href="#">linkedin</a>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                                                  <div class="footer-links-wrapper">
                                                                                                                                                            <p class="footer-links-wrapper__text text text--md text--medium">OUR CONTACS:
                                                                                                                                                            </p>
                                                                                                                                                            <div class="footer-links-wrapper__list"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-message.svg"/></a><a class="footer-links-wrapper__link" href="#">test@testmail.info</a>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="footer-links-wrapper__list"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-phone.svg"/></a><a class="footer-links-wrapper__link" href="#">8-800-333-81-82</a>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                              </div>
                                                                                          </div>
                                                                                          <div class="footer-wrapper__bottom">
                                                                                                              <div class="footer-menu">
                                                                                                                                  <div class="language-block language-block--menu"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">uk</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">ru</a>
                                                                                                                                  </div>
                                                                                                                                        <ul class="footer-menu__list"> 
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="../../pages/uber-uns/uber-uns.html">Про нас </a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="../../pages/produkte/produkte.html">Завдання</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="../../pages/projekte/projekte.html">Роботи</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="../../pages/news/news.html">Новини</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul><a class="footer-menu__angepast text text--xs text--medium" href="#">Angepasst / Entworfen von WEBish</a>
                                                                                                              </div>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </footer>
                        <section class="copyright"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="copyright-wrapper"> 
                                                                                          <div class="copyright-wrapper__right-side"> <span class="copyright-wrapper__link text text--xs text--medium">Copyright © 2018 SITENAME</span><a class="copyright-wrapper__link text text--xs text--medium" href="#">General terms and conditions</a><a class="copyright-wrapper__link text text--xs text--medium" href="#">Legal information</a>
                                                                                          </div>
                                                                                          <div class="copyright-wrapper__left-side"> <a class="copyright-wrapper__link text text--xs text--medium" href="#">Angepasst / Entworfen von WEBish</a>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </section>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq4JCX3T23IUj32KRtJsrC5xzN0YDy7zM&amp;callback=initMap"></script>
    <script type="text/javascript" src="../../../static/js/vendor.js"></script>
    <script type="text/javascript" src="../../../static/js/main.js"></script>
  </body>
</html>