
<section class="news-list">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="news-list-wrapper"> 
      <div class="news-list-wrapper__items"> 
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news1.png"/></a><a class="news__title" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news2.png"/></a><a class="news__title" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news3.png"/></a><a class="news__title" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news4.png"/></a><a class="news__title" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news5.png"/></a><a class="news__title" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news6.png"/></a><a class="news__title" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news7.png"/></a><a class="news__title" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news8.png"/></a><a class="news__title" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news9.png"/></a><a class="news__title" href="#">Nachrichtentitel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>