
<section class="news-list">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="news-list-wrapper"> 
      <div class="news-list-wrapper__items"> 
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news1.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news2.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news3.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news4.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news5.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news6.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news7.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news8.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
          </div>
        </div>
        <div class="news-list-wrapper__column"> 
          <div class="news"><a class="news__image-wrapper" href="#"><img class="news__image img" src="../../../static/img/news/news9.png"/><span class="news__date">22.08.2018</span></a><a class="news__title picture-name" href="#">Nachrichtentitel</a>
          </div>
        </div>
      </div>
    </div>
    <div class="pagitation"> 
      <ul class="pagitation__list"> 
        <li class="pagitation__item"> <span class="pagitation__element">1</span>
        </li>
        <li class="pagitation__item"> <span class="pagitation__element">2</span>
        </li>
        <li class="pagitation__item is-active"> <span class="pagitation__element">3</span>
        </li>
        <li class="pagitation__item"> <span class="pagitation__element">4</span>
        </li>
        <li class="pagitation__item"> <span class="pagitation__element">5</span>
        </li>
      </ul>
    </div>
  </div>
</section>