include ../../mixins/index

+b.tags-wrapper 
  +e.title.H2 TAGS
  +e.tags 
    +e.tag.text.--xs.--medium.SPAN KATEGORIEN 1
    +e.tag.text.--xs.--medium.SPAN KATEGORIEN 2
    +e.tag.text.--xs.--medium.SPAN KATEGORIEN 1
    +e.tag.text.--xs.--medium.SPAN KATEGORIEN 2
    +e.tag.text.--xs.--medium.SPAN KATEGORIEN 1