<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
    <link rel="icon" href="../static/img/favicon.png" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="header-block"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="header"> 
                                                                                          <div class="header__logo-wrapper"> <img class="header__logo img" src="../../../static/img/main-page/logo.png"/>
                                                                                          </div>
                                                                                    <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
                                                                                    </div>
                                                                                    <nav class="menu"> 
                                                                                                        <div class="language-block"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">de</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">fr</a>
                                                                                                        </div>
                                                                                                              <div class="menu__body" id="js-menu">
                                                                                                                                        <ul class="menu__list"> 
                                                                                                                                                            <li class="language-block language-block--menu"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">DEUTCH</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">FRENCH</a>
                                                                                                                                                            </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="#">Produkte</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="#">Über Uns</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="#">Projekte</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="#">News</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="#">Agenten</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="#">Fachpartner</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul>
                                                                                                              </div>
                                                                                                              <div class="menu__social-links"> <img class="menu__search" src="../../../static/icons/search.svg"/><a class="menu__social-link social-link" href="#"><img class="menu__search-image img" src="../../../static/icons/facebook.svg"/></a><a class="menu__social-link social-link" href="#"><img class="menu__search-image img" src="../../../static/icons/ints.svg"/></a>
                                                                                                              </div>
                                                                                    </nav>
                                                                </div>
                                            </div>
                        </header>
                        <div class="text-section"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="text-wrapper"> 
                                                                                          <div class="text-wrapper__paragraph-wrapper">
                                                                                                                    <p class="text-wrapper__paragraph text text--xs text--medium">Lorem ipsum dolor sit amet, in has dico nulla indoctum, duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
                                                                                                                    </p>
                                                                                          </div>
                                                                                          <div class="text-wrapper__paragraph-wrapper">
                                                                                                                    <p class="text-wrapper__paragraph text text--xs text--medium">No eum vidisse honestatis, no eam insolens recteque intellegam. Ea errem invidunt ius, quo solum audire evertitur id. Omnis harum debitis et eum, no his elit interpretaris, ei graece doming urbanitas usu. Vis adhuc laudem id.
                                                                                                                    </p>
                                                                                          </div>
                                                                                          <div class="text-wrapper__paragraph-wrapper">
                                                                                                                    <p class="text-wrapper__paragraph text text--xs text--medium">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. <a class="text-wrapper__read-more" href="#">Reade more</a> 
                                                                                                                    </p>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </div>
                        <footer class="footer"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="footer-wrapper"> 
                                                                                          <div class="footer-wrapper__top"> <a class="footer-wrapper__logo-wrapper" href="#"> <img class="footer-wrapper__logo img" src="../../../static/img/main-page/logo.png"/></a>
                                                                                                              <div class="footer-links">
                                                                                                                                  <div class="footer-links-wrapper">
                                                                                                                                                            <p class="footer-links-wrapper__text text text--md text--medium">GET IN TOUCH WITH US
                                                                                                                                                            </p>
                                                                                                                                                            <div class="footer-links-wrapper__list footer-links-wrapper__list--row"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-facebook.svg"/></a><a class="footer-links-wrapper__link" href="#">facebook</a>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="footer-links-wrapper__list"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-linkedin.svg"/></a><a class="footer-links-wrapper__link" href="#">linkedin</a>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                                                  <div class="footer-links-wrapper">
                                                                                                                                                            <p class="footer-links-wrapper__text text text--md text--medium">OUR CONTACS:
                                                                                                                                                            </p>
                                                                                                                                                            <div class="footer-links-wrapper__list"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-message.svg"/></a><a class="footer-links-wrapper__link" href="#">test@testmail.info</a>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="footer-links-wrapper__list"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-phone.svg"/></a><a class="footer-links-wrapper__link" href="#">8-800-333-81-82</a>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                              </div>
                                                                                          </div>
                                                                                          <div class="footer-wrapper__bottom">
                                                                                                              <div class="footer-menu">
                                                                                                                                  <div class="language-block language-block--menu"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">DEUTCH</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">FRENCH</a>
                                                                                                                                  </div>
                                                                                                                                        <ul class="footer-menu__list"> 
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="#">Produkte</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="#">Über Uns</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="#">Projekte</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="#">News</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="#">Agenten</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="#">Fachpartner</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul><a class="footer-menu__angepast text text--xs text--medium" href="#">Angepasst / Entworfen von WEBish</a>
                                                                                                              </div>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </footer>
                        <section class="copyright"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="copyright-wrapper"> 
                                                                                          <div class="copyright-wrapper__right-side"> <span class="copyright-wrapper__link text text--xs text--medium">Copyright © 2018 SITENAME</span><a class="copyright-wrapper__link text text--xs text--medium" href="#">General terms and conditions</a><a class="copyright-wrapper__link text text--xs text--medium" href="#">Legal information</a>
                                                                                          </div>
                                                                                          <div class="copyright-wrapper__left-side"> <a class="copyright-wrapper__link text text--xs text--medium" href="#">Angepasst / Entworfen von WEBish</a>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </section>
    </div>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>