
<section class="copyright"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="copyright-wrapper"> 
      <div class="copyright-wrapper__right-side"> <span class="copyright-wrapper__link text text--xs text--medium">Copyright © 2018 SITENAME</span><a class="copyright-wrapper__link text text--xs text--medium" href="#">General terms and conditions</a><a class="copyright-wrapper__link text text--xs text--medium" href="#">Legal information</a>
      </div>
      <div class="copyright-wrapper__left-side"> <a class="copyright-wrapper__link text text--xs text--medium" href="#">Angepasst / Entworfen von WEBish</a>
      </div>
    </div>
  </div>
</section>