
<header class="header-block header-block--white"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="header"> <a class="header__logo-wrapper" href="../main/main.html"><img class="header__logo img" src="../../../static/img/main-page/logo.png"/></a>
      <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
      </div>
      <nav class="menu"> 
        <div class="language-block"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">uk</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">ru</a>
        </div>
        <div class="menu__body" id="js-menu">
          <ul class="menu__list"> 
            <li class="language-block language-block--menu"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">uk</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">ru</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="../uber-uns/uber-uns.html">Про нас</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="../produkte/produkte.html">Завдання</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="../projekte/projekte.html">Роботи</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="../news/news.html">Новини</a>
            </li>
          </ul>
        </div>
        <div class="menu__social-links"> <img class="menu__search js-search" src="../../../static/icons/search.svg"/><a class="menu__social-link social-link" href="#"><img class="menu__search-image img" src="../../../static/icons/facebook.svg"/></a><a class="menu__social-link social-link" href="#"><img class="menu__search-image img" src="../../../static/icons/ints.svg"/></a>
        </div>
      </nav>
      <form class="header-search" action="../search/search.html"><input class="header-search__input js-input" type="search" placeholder="Search"/>
        <button class="header-search__button icon" type="submit"><img class="header-search__search js-button" src="../../../static/icons/search.svg"/>
        </button>
      </form>
    </div>
  </div>
</header>