<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../../../static/css/style.css">
    <link rel="icon" href="../../../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="header-block header-block--white"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="header"> <a class="header__logo-wrapper" href="../main/main.html"><img class="header__logo img" src="../../../static/img/main-page/logo.png"/></a>
                                                                                    <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
                                                                                    </div>
                                                                                    <nav class="menu"> 
                                                                                                        <div class="language-block"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">uk</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">ru</a>
                                                                                                        </div>
                                                                                                              <div class="menu__body" id="js-menu">
                                                                                                                                        <ul class="menu__list"> 
                                                                                                                                                            <li class="language-block language-block--menu"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">uk</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">ru</a>
                                                                                                                                                            </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="../uber-uns/uber-uns.html">Про нас</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="../produkte/produkte.html">Завдання</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="../projekte/projekte.html">Роботи</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu__item"><a class="menu__link" href="../news/news.html">Новини</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul>
                                                                                                              </div>
                                                                                                              <div class="menu__social-links"> <img class="menu__search js-search" src="../../../static/icons/search.svg"/><a class="menu__social-link social-link" href="#"><img class="menu__search-image img" src="../../../static/icons/facebook.svg"/></a><a class="menu__social-link social-link" href="#"><img class="menu__search-image img" src="../../../static/icons/ints.svg"/></a>
                                                                                                              </div>
                                                                                    </nav>
                                                                                    <form class="header-search" action="../search/search.html"><input class="header-search__input js-input" type="search" placeholder="Search"/>
                                                                                                              <button class="header-search__button icon" type="submit"><img class="header-search__search js-button" src="../../../static/icons/search.svg"/>
                                                                                                              </button>
                                                                                    </form>
                                                                </div>
                                            </div>
                        </header>
                        <main class="main" role="main">
                          <div class="projekt-slider">
                            <div class="projekt-slider__projekt-slider-wrapper">
                              <div class="projekt-slider-bg swiper">
                                <div class="projekt-slider-bg__wrapper swiper-wrapper"><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg1.png"/><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg2.png"/><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg3.png"/><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg4.png"/><img class="projekt-slider-bg__slide swiper-slide img" src="../../../static/img/projekt/projekt-bg5.png"/>
                                </div>
                              </div>
                              <div class="projekt-breadcrumbs"> 
                                <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                  <div class="breadcrumbs">
                                    <ul class="breadcrumbs__list"> 
                                      <li class="breadcrumbs__item"><a class="breadcrumbs__link text text--medium" href="#">Home</a><span class="breadcrumbs__slash">/</span><a class="breadcrumbs__link text text--medium" href="#">Some page</a><span class="breadcrumbs__slash">/</span><a class="breadcrumbs__link text text--medium" href="#">Some page</a><span class="breadcrumbs__slash">/</span>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="projekt-content g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="projekt-slider-navigation"> <img class="projekt-slider-navigation__prev projekt-control projekt-slider-prev" src="../../../static/img/projekt/prev.png"/><img class="projekt-slider-navigation__next projekt-control projekt-slider-next" src="../../../static/img/projekt/next.png"/>
                              </div>
                            </div>
                          </div>
                          <div class="projekt-main"> 
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="projekt-main-wrapper"> 
                                <h2 class="projekt-main-wrapper__title">Template page
                                </h2>
                                <div class="projekt-section"> 
                                  <div class="projekt-section__section-name projekt-section__section-name--side">
                                    <h3 class="projekt-section__title">DESCRIPTION
                                    </h3>
                                    <p class="projekt-section__description-text text text--xs text--medium">Lorem ipsum dolor sit amet, in has dico nulla indoctum, duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an.
                                    </p>
                                  </div>
                                  <div class="projekt-section__section-name">
                                    <h3 class="projekt-section__title">PRODUKTE
                                    </h3>
                                    <div class="projekt-section__image-list"> 
                                      <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte1.png"/>
                                      </div>
                                      <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte5.png"/>
                                      </div>
                                      <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte3.png"/>
                                      </div>
                                      <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte4.png"/>
                                      </div>
                                      <div class="projekt-section__image-wrapper"> <img class="projekt-section__image img" src="../../../static/img/projekt/produkte5.png"/>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="projekt-section__section-name projekt-section__section-name--side">
                                    <h3 class="projekt-section__title">TAGS 
                                    </h3>
                                    <div class="projekt-section__wrapper"> <span class="projekt-section__item"> KATEGORIEN 1 </span><span class="projekt-section__item"> KATEGORIEN 1 </span><span class="projekt-section__item"> KATEGORIEN 1 </span><span class="projekt-section__item"> KATEGORIEN 1 </span><span class="projekt-section__item"> KATEGORIEN 1 </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </main>
                        <footer class="footer"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="footer-wrapper"> 
                                                                                          <div class="footer-wrapper__top"> <a class="footer-wrapper__logo-wrapper" href="../main/main.html"> <img class="footer-wrapper__logo img" src="../../../static/img/main-page/logo.png"/></a>
                                                                                                              <div class="footer-links">
                                                                                                                                  <div class="footer-links-wrapper">
                                                                                                                                                            <p class="footer-links-wrapper__text text text--md text--medium">ПРИЄДНУЙСЯ ДО НАС
                                                                                                                                                            </p>
                                                                                                                                                            <div class="footer-links-wrapper__list footer-links-wrapper__list--row"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-facebook.svg"/></a><a class="footer-links-wrapper__link" href="#">facebook</a>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="footer-links-wrapper__list"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-linkedin.svg"/></a><a class="footer-links-wrapper__link" href="#">linkedin</a>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                                                  <div class="footer-links-wrapper">
                                                                                                                                                            <p class="footer-links-wrapper__text text text--md text--medium">OUR CONTACS:
                                                                                                                                                            </p>
                                                                                                                                                            <div class="footer-links-wrapper__list"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-message.svg"/></a><a class="footer-links-wrapper__link" href="#">test@testmail.info</a>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="footer-links-wrapper__list"><a class="footer-links-wrapper__image-wrapper" href="#"><img class="footer-links-wrapper__link-image" src="../../../static/icons/dark-phone.svg"/></a><a class="footer-links-wrapper__link" href="#">8-800-333-81-82</a>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                              </div>
                                                                                          </div>
                                                                                          <div class="footer-wrapper__bottom">
                                                                                                              <div class="footer-menu">
                                                                                                                                  <div class="language-block language-block--menu"><a class="language-block__language language-block__language--active text text--xs text--medium" href="#">uk</a><span class="language-block__line text text--xs text--medium">|</span><a class="language-block__language text text--xs text--medium" href="#">ru</a>
                                                                                                                                  </div>
                                                                                                                                        <ul class="footer-menu__list"> 
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="../../pages/uber-uns/uber-uns.html">Про нас </a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="../../pages/produkte/produkte.html">Завдання</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="../../pages/projekte/projekte.html">Роботи</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="footer-menu__item"><a class="footer-menu__link text text--medium text--xs" href="../../pages/news/news.html">Новини</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul><a class="footer-menu__angepast text text--xs text--medium" href="#">Angepasst / Entworfen von WEBish</a>
                                                                                                              </div>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </footer>
                        <section class="copyright"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="copyright-wrapper"> 
                                                                                          <div class="copyright-wrapper__right-side"> <span class="copyright-wrapper__link text text--xs text--medium">Copyright © 2018 SITENAME</span><a class="copyright-wrapper__link text text--xs text--medium" href="#">General terms and conditions</a><a class="copyright-wrapper__link text text--xs text--medium" href="#">Legal information</a>
                                                                                          </div>
                                                                                          <div class="copyright-wrapper__left-side"> <a class="copyright-wrapper__link text text--xs text--medium" href="#">Angepasst / Entworfen von WEBish</a>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </section>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq4JCX3T23IUj32KRtJsrC5xzN0YDy7zM&amp;callback=initMap"></script>
    <script type="text/javascript" src="../../../static/js/vendor.js"></script>
    <script type="text/javascript" src="../../../static/js/main.js"></script>
  </body>
</html>