
<div class="tags-wrapper"> 
  <h2 class="tags-wrapper__title">TAGS
  </h2>
  <div class="tags-wrapper__tags"> <span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 1</span><span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 2</span><span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 1</span><span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 2</span><span class="tags-wrapper__tag text text--xs text--medium">KATEGORIEN 1</span>
  </div>
</div>