
<div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
  <div class="about-product-card"> 
    <div class="about-product-card__column about-product-card__column--side about-product-card__column--left"> 
      <p class="about-product-card__text text text--bold" style="margin-left: 20px">Тема №1 Назва теми
      </p>
    </div>
    <div class="about-product-card__column about-product-card__column--center"> 
      <p class="about-product-card__text text text--xs text--medium">Опис теми
      </p>
    </div>
    <div class="about-product-card__column about-product-card__column--side about-product-card__column--right">
      <div class="about-product-card__inner-wrapper">
        <h3 class="about-product-card__title text text--bold">Скачати
        </h3><a class="button btn" href="#"><span class="button__text text text--md text--reg">Методичнi рекомендації</span><span class="button__image-wrapper"><img class="button__image img" src="../../../static/icons/arrow-prev.svg"/></span></a>
      </div>
    </div>
  </div>
</div>