
<div class="filter-projekte"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="filter-projekte-wrapper"> 
      <div class="filter-bar"> 
        <ul class="filter-bar__list">
          <li class="filter-bar__item">
            <div class="filter-bar__filter-link is-active" data-filter="*">ВСІ
            </div>
          </li>
          <li class="filter-bar__item">
            <div class="filter-bar__filter-link" data-filter=".office">Фільтр 1
            </div>
          </li>
          <li class="filter-bar__item">
            <div class="filter-bar__filter-link" data-filter=".educational">Фільтр 2
            </div>
          </li>
          <li class="filter-bar__item">
            <div class="filter-bar__filter-link" data-filter=".restaurant">Фільтр 3
            </div>
          </li>
          <li class="filter-bar__item">
            <div class="filter-bar__filter-link" data-filter=".hotel">Фільтр 4
            </div>
          </li>
        </ul>
      </div>
      <div class="projekte-wrapper" id="projekte-grid">
        <div class="projekte-wrapper__column office" id="filter-item">
          <div class="projekte"><a class="projekte__image-wrapper" href="../projekt/projekt.html"><img class="projekte__image img" src="../../../static/img/projekte/projekte1.png"/><span class="projekte__hover">office</span></a><a class="projekte__name picture-name" href="../projekt/projekt.html">Проект №1</a>
          </div>
        </div>
        <div class="projekte-wrapper__column educational" id="filter-item">
          <div class="projekte"><a class="projekte__image-wrapper" href="../projekt/projekt.html"><img class="projekte__image img" src="../../../static/img/projekte/projekte2.png"/><span class="projekte__hover">educational</span></a><a class="projekte__name picture-name" href="../projekt/projekt.html">Проект №2</a>
          </div>
        </div>
        <div class="projekte-wrapper__column office" id="filter-item">
          <div class="projekte"><a class="projekte__image-wrapper" href="../projekt/projekt.html"><img class="projekte__image img" src="../../../static/img/projekte/projekte3.png"/><span class="projekte__hover">office</span></a><a class="projekte__name picture-name" href="../projekt/projekt.html">Проект №3</a>
          </div>
        </div>
        <div class="projekte-wrapper__column hotel" id="filter-item">
          <div class="projekte"><a class="projekte__image-wrapper" href="../projekt/projekt.html"><img class="projekte__image img" src="../../../static/img/projekte/projekte4.png"/><span class="projekte__hover">hotel</span></a><a class="projekte__name picture-name" href="../projekt/projekt.html">Проект №4</a>
          </div>
        </div>
        <div class="projekte-wrapper__column educational" id="filter-item">
          <div class="projekte"><a class="projekte__image-wrapper" href="../projekt/projekt.html"><img class="projekte__image img" src="../../../static/img/projekte/projekte5.png"/><span class="projekte__hover">educational</span></a><a class="projekte__name picture-name" href="../projekt/projekt.html">Проект №5</a>
          </div>
        </div>
        <div class="projekte-wrapper__column office" id="filter-item">
          <div class="projekte"><a class="projekte__image-wrapper" href="../projekt/projekt.html"><img class="projekte__image img" src="../../../static/img/projekte/projekte6.png"/><span class="projekte__hover">office</span></a><a class="projekte__name picture-name" href="../projekt/projekt.html">Проект №6</a>
          </div>
        </div>
        <div class="projekte-wrapper__column restaurant" id="filter-item">
          <div class="projekte"><a class="projekte__image-wrapper" href="../projekt/projekt.html"><img class="projekte__image img" src="../../../static/img/projekte/projekte7.png"/><span class="projekte__hover">restaurant</span></a><a class="projekte__name picture-name" href="../projekt/projekt.html">Проект №7</a>
          </div>
        </div>
        <div class="projekte-wrapper__column hotel" id="filter-item">
          <div class="projekte"><a class="projekte__image-wrapper" href="../projekt/projekt.html"><img class="projekte__image img" src="../../../static/img/projekte/projekte8.png"/><span class="projekte__hover">hotel</span></a><a class="projekte__name picture-name" href="../projekt/projekt.html">Проект №8</a>
          </div>
        </div>
        <div class="projekte-wrapper__column restaurant" id="filter-item">
          <div class="projekte"><a class="projekte__image-wrapper" href="../projekt/projekt.html"><img class="projekte__image img" src="../../../static/img/projekte/projekte9.png"/><span class="projekte__hover">restaurant</span></a><a class="projekte__name picture-name" href="../projekt/projekt.html">Проект №9</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>