
<div class="main-slider"> 
  <div class="slider-bg swiper">
    <div class="slider-bg__wrapper swiper-wrapper"><img class="slider-bg__slide swiper-slide img" src="../../../static/img/models/model-slider2.jpg"/><img class="slider-bg__slide swiper-slide img" src="../../../static/img/models/model-slider1.jpg"/><img class="slider-bg__slide swiper-slide img" src="../../../static/img/models/model-slider3.jpg"/>
    </div>
  </div>
  <div class="main-content g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="main-content__text text text--3xl">Цифровий дизайн схожий на живопис, тільки фарби ніколи не сохнуть
    </div>
    <div class="main-slider-nav"><img class="main-slider-nav__prev main-control main-slider-prev" src="../../../static/icons/arrow-prev.svg"/>
      <div class="swiper-pagination">
      </div><img class="main-slider-nav__next main-control main-slider-next" src="../../../static/icons/arrow-next.svg"/>
    </div>
  </div>
</div>