
<div class="main-slider"> 
  <div class="slider-bg swiper">
    <div class="slider-bg__wrapper swiper-wrapper"><img class="slider-bg__slide swiper-slide img" src="../../../static/img/main-page/s1.png"/><img class="slider-bg__slide swiper-slide img" src="../../../static/img/main-page/s2.jpg"/><img class="slider-bg__slide swiper-slide img" src="../../../static/img/main-page/s3.jpg"/>
    </div>
  </div>
  <div class="main-content g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="main-content__text text text--4xl">Licht zum sehen
    </div>
    <div class="main-slider-nav"><img class="main-slider-nav__prev main-control main-slider-prev" src="../../../static/icons/arrow-prev.svg"/>
      <div class="swiper-pagination">
      </div><img class="main-slider-nav__next main-control main-slider-next" src="../../../static/icons/arrow-next.svg"/>
    </div>
  </div>
  <div class="cube-wrapper"> 
    <div class="cube-wrapper__scene">
      <div class="cube">
        <div class="cube__face cube__face--front">
          <div class="cube__text cube-text">WHAT
          </div>
        </div>
        <div class="cube__face cube__face--back"><a class="cube__link cube-text" href="#">Produkte</a>
        </div>
        <div class="cube__face cube__face--right">
        </div>
        <div class="cube__face cube__face--left">
        </div>
        <div class="cube__face cube__face--top">
        </div>
      </div>
    </div>
    <div class="cube-wrapper__scene">
      <div class="cube">
        <div class="cube__face cube__face--front">
          <div class="cube__text cube-text">WE
          </div>
        </div>
        <div class="cube__face cube__face--back"><a class="cube__link cube-text" href="#">Über Uns</a>
        </div>
        <div class="cube__face cube__face--right">
        </div>
        <div class="cube__face cube__face--left">
        </div>
        <div class="cube__face cube__face--top">
        </div>
      </div>
    </div>
    <div class="cube-wrapper__scene">
      <div class="cube">
        <div class="cube__face cube__face--front">
          <div class="cube__text cube-text">DO
          </div>
        </div>
        <div class="cube__face cube__face--back"><a class="cube__link cube-text" href="#">Projekte</a>
        </div>
        <div class="cube__face cube__face--right">
        </div>
        <div class="cube__face cube__face--left">
        </div>
        <div class="cube__face cube__face--top">
        </div>
      </div>
    </div>
    <div class="cube-wrapper__scene">
      <div class="cube">
        <div class="cube__face cube__face--front">
          <div class="cube__text cube-text">!
          </div>
        </div>
        <div class="cube__face cube__face--back"><a class="cube__link cube-text" href="#">News</a>
        </div>
        <div class="cube__face cube__face--right">
        </div>
        <div class="cube__face cube__face--left">
        </div>
        <div class="cube__face cube__face--top">
        </div>
      </div>
    </div>
  </div>
</div>