
<form class="new-form js-form" data-method="POST" data-action="https://httpbin.org/post" novalidate>
  <div class="new-form__top"> 
    <div class="new-form__column"><input class="new-form__input" type="email" placeholder="E-Mail" name="new-email" id="new-email" data-rule="required|email"/>
    </div>
    <div class="new-form__column"><input class="new-form__input" type="text" placeholder="Name" name="new-name" id="new-name" data-rule="required"/>
    </div>
  </div>
  <div class="new-form__middle"> <textarea class="new-form__input new-form__input--kom" type="text" placeholder="Kommentar" name="new-kommentar" id="new-kommentar"></textarea>
  </div>
  <div class="new-form__bottom"> <input class="new-form__submit btn" type="submit" value="Відправити коментар"/>
  </div>
</form>