
<section class="cube-section">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="cube-wrapper"> 
      <div class="cube-wrapper__scene">
        <div class="cube">
          <div class="cube__face cube__face--front">
            <div class="cube__text cube-text">WHAT
            </div>
          </div>
          <div class="cube__face cube__face--back"><a class="cube__link cube-text" href="../../pages/produkte/produkte.html">Produkte</a>
          </div>
          <div class="cube__face cube__face--right">
          </div>
          <div class="cube__face cube__face--left">
          </div>
          <div class="cube__face cube__face--top">
          </div>
        </div>
      </div>
      <div class="cube-wrapper__scene">
        <div class="cube">
          <div class="cube__face cube__face--front">
            <div class="cube__text cube-text">WE
            </div>
          </div>
          <div class="cube__face cube__face--back"><a class="cube__link cube-text" href="../../pages/uber-uns/uber-uns.html">Über Uns</a>
          </div>
          <div class="cube__face cube__face--right">
          </div>
          <div class="cube__face cube__face--left">
          </div>
          <div class="cube__face cube__face--top">
          </div>
        </div>
      </div>
      <div class="cube-wrapper__scene">
        <div class="cube">
          <div class="cube__face cube__face--front">
            <div class="cube__text cube-text">DO
            </div>
          </div>
          <div class="cube__face cube__face--back"><a class="cube__link cube-text" href="../../pages/projekte/projekte.html">Projekte</a>
          </div>
          <div class="cube__face cube__face--right">
          </div>
          <div class="cube__face cube__face--left">
          </div>
          <div class="cube__face cube__face--top">
          </div>
        </div>
      </div>
      <div class="cube-wrapper__scene">
        <div class="cube">
          <div class="cube__face cube__face--front">
            <div class="cube__text cube-text">!
            </div>
          </div>
          <div class="cube__face cube__face--back"><a class="cube__link cube-text" href="../../pages/news/news.html">News</a>
          </div>
          <div class="cube__face cube__face--right">
          </div>
          <div class="cube__face cube__face--left">
          </div>
          <div class="cube__face cube__face--top">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>