
<section class="email-form"> <img class="email-form__bg img" src="../../../static/img/main-page/join-bg.png"/>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="email-form-wrapper"> <span class="email-form-wrapper__text text text--3xl text--medium">Join our  mailing list</span>
      <form class="form-wrapper js-form" data-method="POST" data-action="https://httpbin.org/post"><input class="form-wrapper__input" type="email" id="email-form" name="email-form" data-rule="required"/>
        <button class="form-wrapper__submit btn" type="submit"><span class="form-wrapper__join">join </span>
          <div class="form-wrapper__image-wrapper"> <img class="form-wrapper__image img" src="../../../static/icons/arrow-prev.svg"/>
          </div>
        </button>
      </form>
    </div>
  </div>
</section>