include ../../../mixins/index

+b.luxed.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.luxed-wrapper 
      +e.bg-image.IMG(src="../../../static/img/uber-uns/luxed/x-bg.png")
      +e.top 
        +e.element-wrapper.--l
          +e.text-part.--l.text.--xs.--medium.P Unsere Passion ist das Licht. Unsere Mission ist das Licht so einzusetzen, dass es im Einklang mit der gesamten Architektur ist. Daher ist es wichtig in der Beleuchtung die vorhandene Materialien und Strukturen von Anfang an zu berücksichtigen.
          +e.letter-wrapper.--l
            +e.image-wrapper.--l 
              +e.image.img.IMG(src="../../../static/img/uber-uns/luxed/L.png")
            +e.name.SPAN Light
        +e.element-wrapper.--u
          +e.text-part.--u.text.--xs.--medium.P Wir entwickeln, in enger Zusammenarbeit mit unseren Kunden, eine einzigartige Identität für neue oder bestehende Innenräume und Aussenanlagen.
          +e.letter-wrapper.--u
            +e.image-wrapper.--u
              +e.image.img.IMG(src="../../../static/img/uber-uns/luxed/U.png")
            +e.name.SPAN Unique
      +e.middle
        +e.element-wrapper.--x
          +e.text-part.--x.text.--xs.--medium.P Unser Luxed Team zeichnet sich durch Kreativität, Leidenschaft, Präzision und Reichtum an Ideen aus. Daraus resultieren am Ende immer interessante und aussergewöhnliche Projekte.
          +e.letter-wrapper--x
            +e.image-wrapper.--x
              +e.image.img.IMG(src="../../../static/img/uber-uns/luxed/X.png")
            +e.name.SPAN eXtraordinary
      +e.bottom 
        +e.element-wrapper.--e
          +e.text-part.--e.text.--xs.--medium.P Licht schafft Emotionen. Je nachdem wie wir das Licht einsetzen und welche Art von Licht wir verwenden, entstehen beim Menschen verschiedene Emotionen. Wir sorgen dafür, dass bei jedem Konzept die gewollte Atmosphäre erschaffen wird.
          +e.letter-wrapper.--e
            +e.image-wrapper.--e
              +e.image.img.IMG(src="../../../static/img/uber-uns/luxed/E.png")
            +e.name.SPAN Emotion
        +e.element-wrapper.--d
          +e.text-part.--d.text.--xs.--medium.P Ob schlicht oder extravagant, ein klares Design wird immer durch Eleganz und Authentizität widergespiegelt. Wir kreieren Räume für bleibende Eindrücke und individuelle Erlebnisse.
          +e.letter-wrapper.--d
            +e.image-wrapper.--d
              +e.image.img.IMG(src="../../../static/img/uber-uns/luxed/D.png")
            +e.name.SPAN Design