
<section class="error-404">
  <div class="error-404__bg-wrapper"> <img class="error-404__bg img" src="../../../static/img/404.png"/>
  </div>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="oops-info"> 
      <h2 class="oops-info__title">Oops! That page can’t be found.
      </h2>
      <h3 class="oops-info__subtitle">Oops! That page can’t be found.
      </h3>
      <div class="oops-info__search-form-wrapper"> 
        <form class="form-404 js-form" data-method="POST" data-action="https://httpbin.org/post"><input class="form-404__input" type="search" placeholder="Search for" name="error-search" id="error-search" data-rule="required"/><input class="form-404__btn btn" type="submit" value="search"/>
        </form>
      </div>
    </div>
  </div>
</section>